* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
			box-sizing: border-box;
}

html,
body,
#wrapper {
	height: 100%;
}

body {
	margin: 0;
	font-family: sans-serif;
}

#wrapper {
	overflow: auto;
}

input[type=button],
.info_block {
	padding: 0.5em;
	border: 1px solid #ccc;
	background: none transparent;
	border-radius: 0.3em;
	cursor: pointer;
	font-size: 16px;
}

.main_ui {
	text-align: right;
	padding: .3em;
}

.info_block {
	display: inline-block;
	line-height: 23px;
	text-align: center;
	cursor: default;
}

.last_update_container {
	width: 195px;
}

#rooms {
	max-width: 900px;
	margin: auto;
}

.room_container {
	padding: .5em;
}

.room,
.param,
.sensor_header,
.sensor,
.control_header,
.control {
	padding: .5em;
	border: 1px solid #ccc;
	border-radius: .3em;
	position: relative;
}

.room {
	background-color: #DEDEDE;
	padding-right: 5.9em;
}

.param {
	padding-right: 7.6em;
}

.param-hum {
	background-color: #2D5CE1;
}

.param-tmp {
	background-color: #ED8F4A;
}

.param-co2 {
	background-color: #70F575;
}

.param_container,
.sensor_container,
.control_container {
	padding-top: .4em;
	margin-left: 2em;
}

.sensor,
.control {
	margin-top: .4em;
	margin-left: 2em;
	padding-right: 4.2em;
}

.control_state {
	display: inline-block;
	border: 1px solid #333;
	width: .8em;
	height: .8em;
	margin-left: .4em;
	border-radius: 1em;
}

.control_work {
	border-color: #f00;
	background-color: #f00;
}

.control_timer {
	padding-left: 25px;
	background: url(imgs/clock.png) no-repeat 2px 50%;
	background-size: auto 80%;
}

.ui {
	position: absolute;
	top: 0;
	right: .4em;
	bottom: 0;
	line-height: 100%;
}

.button {
	width: 1.7em;
	height: 1.7em;
	border: none;
	background: none;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
	margin-top: .25em;
	font-size: inherit;
}

.delete_button {
	background-image: url(imgs/delete.png);
}

.edit_button {
	background-image: url(imgs/edit.png)
}

.add_button {
	background-image: url(imgs/add.png);
}

.save_button {
	background-image: url(imgs/save.png);
}

.form_wrapper {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background: rgba(0, 0, 0, .5);
}

.form_table {
	display: table;
	width: 100%;
	height: 100%;
}

.form_td {
	display: table-cell;
	height: 100%;
	vertical-align: middle;
	position: relative;
}

.form_close {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.form {
	border: 1px solid #ccc;
	margin: auto;
	padding: 2em 1em 1em;
	border-radius: 0.3em;
	display: none;
	position: relative;
	background: #fff;
}

.close_button {
	font-size: 2em;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0.5em;
}

.timer {
	margin: 16px 0;
}

.timer_label {
	display: block;
}

.timer_time {
	margin-top: 16px;
	padding-left: 16px;
	display: none;
}

.timer_input {
	width: 25px;
	display: inline-block;
}

.description {
	width: 100%;
	resize: none;
	margin-bottom: 1em;
	border-radius: .3em;
	border: 1px solid #ccc;
	padding: 0.5em;
}

.finish_buttons {
	text-align: right;
}

.finish_buttons > input {
	display: none;
}

.room_form {
	max-width: 400px;
	margin: auto;
}

.param_form {
	max-width: 450px;
}

.sensor_form {
	max-width: 350px;
}

.control_form {
	max-width: 400px;
}

@media all and (max-width: 770px) {
	.room,
	.param,
	.sensor,
	.control {
		padding-right: .5em;
		padding-bottom: 2.7em;
	}

	.ui {
		top: auto;
		bottom: .4em;
	}

	.button {
		margin-right: .5em;
	}
}